{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Filmoteca{% endblock %}

{% block content %}
    <div class="menu d-flex justify-content-center align-items-center">
        <h1>Welcome to Filmoteca</h1>
    </div>
{% endblock %}
